header {
  position: fixed;
  width: 100%;
  top: 0px;
}

header>div {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdc;
}

.title {
  /* 粗体 */
  font-weight: bold;
}

.mr {
  /* 右间距 */
  margin-right: 1.5rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

footer>div {
  display: flex;
  justify-content: space-around;
  background-color: #ededed;
  padding: 0.5rem 0px;
  border-top: 1px solid #dcdcdc;
}
/* 
选择器1 选择器2：表示选择器1中的选择器2元素
只要是里面的，不区分有多少级
例如 header div表示只有header里面的div套用
和>号的区别就是：>号只影响第一级的，空格是不区分层级
*/

footer .iconfont {
  font-size: 2rem;
}

.active-icon {
  /* 激活的图标 */ 
  color: #08c261;
}

/*
fixed定位会遮挡相邻的元素，所以需要预留空间给固定元素
*/
main {
  margin-top: 3rem;
  background-color: #ffffff;
  margin-bottom: 5rem;
}

/* 通讯录行 */
.line {
  display: flex;
}
.line .iconfont {
  font-size: 3rem;
}
/*
 伪类：第一个子元素:first-child 
 .line是class="line"
 >表示里面的第一级
 ：first-child ,第一个子元素
 class="line"里面的第一个div
 */
.line>div:first-child {
  padding: 0.5rem;
}
/* 伪类：最后一个子元素：last-child*/
.line>div:last-child {
  padding: 0.5rem;
  /* 行高（当行高大于字的高度，字会在垂直轴居中）*/
  line-height: 3rem;
  font-size: 1.2em;
  border-bottom: 1px solid #dcdcdc;
  flex: 1;
}

/* 锚点样式 */
.name {
  padding: 0.5rem;
  background-color: #dcdcdc;
  color: #b2b2b2;
}

/* 导航栏样式 */
nav {
  position: fixed;
  right: 0px;
  margin: 0.5rem;
  top: 5rem;
  /* writing-mode: vertical-lr; */
  width: 1em;
}

